{% extends 'base.html' %}

{% block title %}
    {{ title }} | {{ block.super }}
{% endblock %}

{% block body %}
    <div class="row">
      
        <br>
        <br>
        {% for emp in object_list %}
            <div class="col-sm-4">
            <div class="thumbnail">
              <div class="caption">
                <h2><a href="{% url 'employees:detail' emp.id %}">{{ emp.first_name }}</a></h2>
                <p>Email : {{ emp.email }}</p>
                <p>phone Number : {{ emp.phone_number }}</p>
                <p>Department : {{ emp.department }}</p>
                <p>Job : {{ emp.job }}</p>
              {% if emp.freeze == True %}
                  <p class="lead text-center" style="color: #f00; margin-top: 18px;">This employee is frozen</p>
              {% else %}
                <a href="{% url 'employees:update' emp.id %}" class="btn btn-info btn-raised btn-lg">
                    <i class="fa fa-user"></i>Edit
                </a>
                <!-- Button trigger modal -->
                <button class="btn btn-danger btn-raised btn-lg" href="" data-toggle="modal" data-target="#delete_employee{{ emp.id }}">
                    <i class="fa fa-times"></i> Delete
                </button>
                  
              {% endif %}
              </div>
            </div>
            </div>
        {% empty %}
            <p class="lead text-center">There are no employ record at the moment</p>
        {% endfor %}
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
{% endblock %}