{% extends 'base.html' %}
{% block content %}
  
    <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>Contract</th>
            <th>Department</th>
          
          </tr>
        </thead>
        <tbody>
        {% for work in object_list %}
          <tr>
            <td><a href="{% url 'employees:detail' work.id %}">{{ work.first_name }}</a></td>
            <td>{{ work.last_name}}</td>
            <td>{{ work.phone_number }}</td>
            <td>{{ work.email }}</td>
            <td>{{ work.department }}</td>
            <td>{{ work.contract }}</td>
            <td>
                <a href="{% url 'employees:update' work.id %}" class="btn btn-info btn-raised btn-sm">
                    <i class="fa fa-user"></i> Edit
                </a>
            </td>
            <td>
                <!-- Button trigger modal -->
                <button class="btn btn-danger btn-raised btn-sm" href="" data-toggle="modal" data-target="#delete_employee{{ emp.id }}">
                    <i class="fa fa-times"></i> Delete
                </button>
                {% include 'employees/delete_employee_modal.html' %}
            </td>
            {% endif %}
        {% empty %}
            <p class="lead text-center">No employees record yet</p>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}